@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: block;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
h2 {
    display: block;
    text-align: center;
}

ol {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

li {
    cursor: pointer;
    background-color: #B0A990;
    border: 2px solid #B0A990;
    border-radius: 3px;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin: 5px;
}
li a {
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: white;

}

.home {
    cursor: pointer;
    background-color: grey;
    border: 3px solid grey;
    border-radius: 3px;
    position: absolute;
    display: block;
    color: black;
    font-size: 16px;
    padding: 10px;
    margin-top: 50px;
    margin-right: 50px;
    width: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}